#wrap{
    width:100%;
}

/* 상단영역 */ 
#header{
    width:100%;
    height:100px;
}

#header_in{
    width:1180px;
    height:100px;
    margin: 0 auto; /* 헤더 중앙정렬 코드 */ 
}
#header .logo{
    float:left;
    width:270px;
    height:100px;
    padding: 33px 10px;
    box-sizing: border-box; /* 박스의 삐져나옴을 방지함 */
}
#header .gnb{
   float: left;
   /* 마진을 사용하기 위해 부모와 자식 모두에게 float: left를 줌 */
   margin: 40px 0 0 20px;
}
#header .gnb li{
    float: left;
    margin-right: 45px;
}
#header .gnb li.last{
    margin-right: 0px;
}
#header .gnb li a{
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

#header .group{
    float: right;
    width:340px;
    height:100px;
}

#header .inform{
    float: left;
    /* margin-top: 10px; */
    margin: 10px 0 0 0;
}
#header .inform li{
    float: left;
    margin-right: 10px;
    padding-right:10px;
    border-right: 1px solid #555;
    line-height: 12px;
}
/* 같은 형제 태그 중에서 첫번째와 마지막번째 */
#header .inform li:first-child{
    /* 형제 요소중 가상 지정 방식 */
    
}
#header .inform li:last-child{
    /* 형제 요소중 가상 지정 방식 */
    margin-right: 0px;
    padding-right:0px;
    border-right: 0px;
}
/* 같은형제 태그중에 1번,2번,3번,4번 */
#header .inform li:nth-child(1){
    /* 형제 요소중 가상 지정 방식 */

}
#header .inform li:nth-child(2){
    /* 형제 요소중 가상 지정 방식 */

}
#header .inform li:nth-child(3){
    /* 형제 요소중 가상 지정 방식 */

}
#header .inform li:nth-child(4){
    /* 형제 요소중 가상 지정 방식 */

}
#header .inform a{
    font-size: 12px;
    font-weight: 400;
    color:#000;
}

#header .input{
    float:left;
    margin-top:10px;
    margin-left: 73px;
    width: 230px;
    height: 30px;
    border: 1px solid #000;
    margin-top:10px;
    text-align: right;/*이미지를 오른쪽으로 정렬한거임*/
}

/* 법률상담 */
#advice{
    width:100%;
    height:800px;
    /* background-image: url(../images/bg_main_sect1.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;  */
    background:url(../images/bg_main_sect1.jpg) no-repeat 50% 0;
}
#advice_in{
    margin: 0 auto;  /*advice 중앙정렬 코드*/
    width:1180px;
    height:100%;
}
#advice_h{
    width:100%; /*width: 1180px*/
    height:260px;
}
#advice_h h3{
    text-align: center;
    padding: 60px 0px 20px;
    /* h3의 크기를 지정하지 않았으므로 box-sizing 사용 X */
}
#advice_h div{
    width:50px;
    height:6px;
    background-color: rgb(27, 26, 26);
    margin:0 auto;
}
#advice_h p{
    font-size: 22px;
    color:#000;
    text-align:center;
    padding-top:30px;
}
#advice_b{
    width:100%; /*width: 1180px*/
    height:540px;
    /* background-color: transparent; 배경색상 투명 */
}
#advice_b .imgbox{
    width: 460px;
    height:500px;
    float:left;
}
#advice_b .imgbox .m_banner3{
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(127, 127, 127);
}
#advice_b .group{
    float:right;
    width:700px;
    height:500px;
}
#advice_b .group .font1{
    margin-bottom: 140px;
    position: absolute;
}
#advice_b .banner{
    width:100%;
    height:260px;
    background-color: red;
}
#advice_b .advice{
    margin-top:10px;
    width:100%;
    height:230px;
}   
#advice_b .group .banner1{
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(127, 127, 127);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    width : 230px;
    background-color: rgb(157, 201, 255);
    float: left;
    margin-right: 5px;
}
#advice_b .group .banner2{
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(127, 127, 127);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    width:230px;
    height: 230px;
    float: left;
    background-color: rgb(79, 155, 185);
}
#advice_b .group .banner3{
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(127, 127, 127);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    width:230px;
    height: 230px;
    float: left;
    background-color: rgb(84, 128, 173);
    margin-left: 5px;
}
#advice_b .group .center1{
    position:absolute;
    text-align: center;
    margin-top:140px;
    font-size:14px;
}
#advice_b .group .back{
    width: 700px;
    height: 260px;
    margin-top: 10px;
    float: right;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(127, 127, 127);
    background-color: rgb(236, 236, 236);
}

#advice_b .group .back .top{
    width:700px;
    height:260px;
}

#advice .group .back .top .font{
    color:rgb(55, 55, 55);
    position:absolute;
    font-size: medium;
    font-family: "나눔고딕";
    margin-top: 100px;
}

#advice_b .group .back .top .img1{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:140px;
    height:210px;
    background-color: white;
    border-radius: 0px 0px 0px 10px;
    float:left;
    position:relative;
    margin-bottom:20px;
}
#advice_b .group .back .top .img2{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:140px;
    height:210px;
    background-color: white;
    border-radius: 0px 0px 0px 0px;
    float:left;
    position: relative;
}
#advice_b .group .back .top .img3{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:140px;
    height:210px;
    background-color: white;
    border-radius: 0px 0px 0px 0px;
    float:left;
    position: relative;
}
#advice_b .group .back .top .img4{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:140px;
    height:210px;
    background-color: white;
    border-radius: 0px 0px 0px 0px;
    float:left;
    position:relative;
}
#advice_b .group .back .top .img5{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:140px;
    height:210px;
    background-color: white;
    border-radius: 0px 0px 10px 0px;
    float:left;
    position:relative;
}
#advice_b .group .back .height{
    height:50px;
    width:700px;
    background-color: rgb(162, 162, 162);
    border-radius: 10px 10px 0px 0px;
}
#advice_b .group .back .height .num{
    font-size: 14px;
    float:left;
    margin-left:30px;
    margin-top: 15px;
    color:white;
}
#advice_b .group .back .height .numb{
    font-size: medium;
    float:right;
    margin-top: 12px;
    margin-right: 18px;
    color:white;
}
#advice_b .group .back .height .arrow-l{
    float:right;
    margin-top:17px;
    margin-right:25px;
}
#advice_b .group .back .height .arrow-r{
    float:right;
    margin-top:17px;
    margin-right:50px;
}

/* 변호사검색 */
#search{
    width:100%;
    height:800px;
    background-color: rgb(222, 86, 86);
}
#search_in{
    margin: 0 auto;
    width:1180px;
    height:800px;
    background-color: rgb(116, 89, 89);
}
#search_h{
    width:100%; /*width: 1180px*/
    height:260px;
    background-color: rgb(182, 155, 207);
}
#search_b{
    width:100%;
    height:540px;
    background-color: rgb(159, 104, 104);
}

/* 뉴스/지식 */
#news{
    width:100%;
    height:800px;
    background-color: rgb(109, 225, 225);
}
#news_in{
    margin: 0 auto;
    width:1180px;
    height:800px;
    background-color: rgb(196, 102, 102);
}
#news_h{
    width:100%; /*width: 1180px*/
    height:260px;
    background-color: rgb(135, 8, 254);
}
#news_b{
    width:100%;
    height:540px;
    background-color: rgb(255, 50, 50);
}

/* 커뮤니티 */
#board{
    width:100%;
    height:800px;
    background-color: rgb(221, 158, 82);
}
#board_in{
    margin:0 auto;
    width:1180px;
    height:800px;
    background-color: rgb(228, 131, 13);
}
#board_h{
    width:100%;
    height:260px;
    background-color: rgb(255, 140, 0);
}
#board_b{
    width:1180px;
    height:540px;
    background-color: rgb(171, 137, 95);
}

/* 하단영역 */
#footer{
    width:100%;
    height:260px;
    background-color: yellowgreen;
}
#footer_in{
    margin:0 auto;
    width:1180px;
    height:100px;
    background-color: rgb(155, 155, 155);
}
#footer_top{ 
    width:100%;
    height:50px;
    background-color: rgb(86, 86, 86);
}
#footer_top_in{
    width:1180px;
    height: 50px;
    margin: 0 auto;
    background-color: blue;
}
#footer_bottom{
    width:100%;
    height:210px;
    background-color: rgb(255, 255, 255);
}
#footer_bottom_in{
    width:1180px;
    height:210px;
    background-color: rgb(148, 89, 89);
    margin:0 auto;
}
